* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  transition: color, fill, 200ms;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background);
  width: 100%;

  background-blend-mode: difference;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}
body::before {
  content: "";
  position: absolute;
  opacity: 0.4;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://static.whatsapp.net/rsrc.php/v3/yl/r/gi_DckOUM5a.png);
  background-size: auto;
  z-index: -1;
}
#data {
  -webkit-appearance: none;
  -moz-appearance: none;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body.stop-transitions * {
  transition: all 100ms ease-in !important;
}
:root {
  --background: #efebe3;
  --grey-1: #f0f2f5;
  --grey-2: #d9dbdf;
  --grey-3: #54656f;
  --black-1: #111b21;
  --green-0: #e7fce3;
  --green-1: #25d366;
  --green-0: #008069;
  --gap-section: 24px 48px 48px 48px;
  --user1: #ff3b3b;
  --user2: #007bfc;
  --graphW: 800;
  --graphH: 400;
  --wds-green-400: #25d366;
  --wds-green-400-rgb: 37, 211, 102;
  --wds-green-500: #1fa855;
  --wds-green-500-rgb: 31, 168, 85;
  --wds-green-600: #1b8748;
  --wds-green-600-rgb: 27, 135, 72;
}
/* section {
  /* min-height: 50vh; */
/* min-height: 50svh; */

section > div {
  padding: var(--gap-section);

  display: flex;
  flex-direction: column;
  height: 100%;
}
h1.nomargin {
  margin: 0;
}
h1 {
  width: fit-content;
  font-weight: 500;
  font-size: 16px;
  color: #54656f;
  border-radius: 7.5px;
  margin-bottom: 48px;
  align-self: center;
  background-color: rgb(231 248 255 / 95%);
  padding: 6px 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
  font-weight: 400;
  text-align: center;
}
.home {
  height: 100vh;
  height: 100svh;
}
.home > div {
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
}
.home form {
  align-items: center;
  justify-content: center;

  display: flex;
  flex-direction: column;
}
.home input {
  background-color: white;
  padding: 12px 24px;
  border-radius: 14px 14px 0 14px;
  margin: 12px 0;
}
.home input button {
  color: red;
}
.home textarea {
  border: var(--grey-1) solid 2px;
  background-color: white;
  padding: 12px;
  border-radius: 14px 0 0 14px;
  scrollbar-width: thin;
  scrollbar-color: var(--green-1);
  scrollbar-color: var(--wds-green-400) var(--grey-1);
  width: 500px;
  height: 170px;
  margin-top: 8px;
  margin-bottom: 16px;
  resize: vertical;
}
.homebtn {
  border: none;
  padding: 14px 28px;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 600;
  margin-top: 14px;
  margin-bottom: 8px;
  background-color: var(--wds-green-500);
  color: white;
  cursor: pointer;
  transition: all 200ms;
  text-transform: uppercase;
}
.homebtn:hover {
  background-color: var(--wds-green-400);
}
.home h1 {
  margin-bottom: 24px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: auto;
}

.box div h4 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.1;
}
.box div h4.messagesender {
  font-size: 28px;
}
.box div h4 span {
  font-size: 22px;
  margin-left: 12px;
}
.box div p {
  font-size: 20px;
  color: #111b21;
}
.message {
  background-color: white;
  width: fit-content;
  padding: 12px 28px;
  border-radius: 14px;
  position: relative;
  box-shadow: 0 2px 0.5px rgba(11, 20, 26, 0.13);
}
.message::after {
  content: "◥";
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 40px;
  top: -12px;
  left: -17px;
  /* transform: rotate(90deg); */
  text-shadow: 0 2px rgba(11, 20, 26, 0.13);
  z-index: -2;
}
.message:last-child,
.messageQuantity > .flexcolumn:last-child > .message {
  background-color: #d9fdd3;
  align-self: flex-end;
}
.message:last-child::after,
.messageQuantity > .flexcolumn:last-child > .message::after {
  content: "◤";
  color: #d9fdd3;
  top: -12px;
  right: -17px;
  left: auto;
}
.messageQuantity {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.messageQuantity h4 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.messageQuantity p {
  color: var(--black-1);
  text-align: center;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.smallmessage p {
  text-align: left;
}
.strong {
  font-weight: 600;
  margin-bottom: 4px;
}
.smallmessage {
  background-color: white;
  width: fit-content;
  padding: 10px 13px;
  border-radius: 14px;
  position: relative;
  transition: all 200ms;
  box-shadow: 0 1.5px 0.5px rgba(11, 20, 26, 0.13);
}
.smallmessage::after {
  content: "◥";

  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 28px;
  top: -8px;
  left: -12px;
  text-align: left;
  text-shadow: 0 2px rgba(11, 20, 26, 0.13);
  z-index: -20;
}

.messageQuantity > .flexcolumn .emojis .flexwords {
  justify-content: flex-end;
}
.messageQuantity > .flexcolumn .emojis .flexwords .smallmessage:first-child p {
  font-size: 48px;
}
.messageQuantity > .flexcolumn .emojis .flexwords .smallmessage:nth-child(2) p {
  font-size: 36px;
}
.messageQuantity > .flexcolumn .emojis .flexwords .smallmessage:nth-child(2) p {
  font-size: 28px;
}
.messageQuantity > .flexcolumn:first-child .emojis .flexwords {
  flex-direction: row-reverse;
  align-items: flex-end;
}
.messageQuantity > .flexcolumn:last-child .flexwords {
  align-self: flex-end;
}
.messageQuantity > .flexcolumn:last-child .smallmessage {
  background-color: #d9fdd3;
  align-self: flex-end;
}
.messageQuantity > .flexcolumn:first-child > .strong {
  align-self: flex-start;
}
.messageQuantity > .flexcolumn:last-child > .strong {
  align-self: flex-end;
}
.messageQuantity > .flexcolumn:last-child .smallmessage::after {
  content: "◤";
  color: #d9fdd3;
  right: -12px;
  left: auto;
}

.flutu {
  font-size: 12px;
  text-align: end;
  transform: translateY(4px);
  color: var(--grey-3);
}

.smallmessage:hover {
  color: #000000;
  /* box-shadow: 4px 4px 50px 4px #0000002d; */
}

.flexwords,
.words {
  display: flex;
  gap: 6px;
}
.words {
  flex-direction: column;
}

.flexcolumn:first-child
  .words
  .smallmessage:not(:first-child):not(:nth-child(1))::after,
.flexcolumn:last-child
  .words
  .smallmessage:not(:last-child):not(:nth-child(4))::after {
  content: none;
}

.streak {
  display: flex;
  align-self: center;
}
.streak > div:first-child img {
  width: 200px;
}

.streak > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.streak > div:last-child > p:first-child {
  font-size: 126px;
  font-weight: 800;
  color: #ff3607;
  line-height: 85px;
}
.streak.cold > div:last-child > p:first-child {
  color: #6eb7e5;
}
.streak > div:last-child > p:first-child span {
  font-size: 92px;
  font-weight: 200;
}
.streak > div:last-child > p:nth-child(2) {
  font-size: 16px;
  font-weight: 800;
  color: #000000;
}
.streak > div:last-child > p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.user1 {
  color: var(--user1);
}
.user2 {
  color: var(--user2);
}
.user3 {
  color: green;
}

.graph {
  display: flex;
  justify-content: center;
}
.graph .recharts-default-legend {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root > section:nth-child(3) > div > div > div:nth-child(1) > div.message > h4,
section > div > div.box > div.message:nth-child(1) > h4 {
  color: var(--user1);
}
#root > section:nth-child(3) > div > div > div:nth-child(2) > div.message > h4,
section > div > div.box > div.message:nth-child(2) > h4 {
  color: var(--user2);
}

.fileinput {
  position: relative;
  margin-top: 12px;
  margin-bottom: 24px;
}

.file-btn {
  width: 250px;
  height: 150px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: var(--wds-green-500);
  background-color: #fff;
  border: 1.5px dashed var(--wds-green-500);
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-btn:hover {
  color: var(--wds-green-500);
  background-color: #fff;
}

.file-btn > span {
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: var(--wds-green-500);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.file-btn div:first-child {
  background-color: red;
}

.removebtn {
  color: var(--wds-green-500);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--wds-green-500);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
}

.removebtn:hover {
  color: var(--wds-green-400);

  border-bottom: 1px solid var(--wds-green-400);
}

.error-message {
  font-size: 16px;
  color: #c02f2f;
}

.git-message {
  margin-top: 12px;
}

.spinner {
  margin: 48px auto;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, var(--wds-green-500) 94%, #0000)
      top/10px 10px no-repeat,
    conic-gradient(#0000 30%, var(--wds-green-500));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: rotate 1.5s infinite linear;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
footer p {
  font-size: 14px;
}

@keyframes rotate {
  to {
    transform: rotate(2turn);
  }
}
@media (max-width: 57.5em) {
  :root {
    --graphW: 600;
    --graphH: 300;
  }
  .messageQuantity h4 {
    font-size: 38px;
  }
}
@media (max-width: 40em) {
  :root {
    --graphW: 500;
    --graphH: 250;
    --gap-section: 24px 32px 32px 32px;
  }

  h1 {
    margin-bottom: 24px;
  }
  /* section {
    min-height: fit-content;
  } */
  .box div h4 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
  }
  .fileinput {
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .home textarea {
    margin-top: 12px;
  }
  .home {
    margin-top: 12px;
    /* min-height: fit-content; */
    height: fit-content;
  }
  form {
    width: 80%;
    text-align: center;
  }
  .home textarea,
  .file-btn,
  .fileinput {
    width: 100%;

    padding: 12px;
  }
  .streak > div:last-child > p:first-child {
    font-size: 98px;
  }
  .streak > div:last-child > p:first-child span {
    font-size: 72px;
    font-weight: 200;
  }
  .streak > div:first-child img {
    width: 160px;
  }
  .streak > div:last-child > p:nth-child(2) {
    font-size: 14px;
    width: 80%;
  }
  .streak > div:last-child > p:nth-child(3) {
    font-size: 12px;
  }
  .messageQuantity h4 {
    font-size: 24px;
  }
}
@media (max-width: 32.8em) {
  :root {
    --graphW: 400;
    --graphH: 200;
    --gap-section: 24px 32px 32px 32px;
  }

  .message {
    padding: 12px 18px;
  }
  .box div p {
    font-size: 14px;
  }
  .streak > div:last-child > p:first-child {
    line-height: 50px;
    margin-top: 12px;
    font-size: 72px;
  }
  .streak > div:last-child > p:first-child span {
    font-size: 54px;
    font-weight: 200;
  }
  .streak > div:first-child img {
    width: 120px;
  }
  .streak > div:last-child > p:nth-child(2) {
    font-size: 14px;
    width: 80%;
  }
  .streak > div:last-child > p:nth-child(3) {
    font-size: 12px;
    width: 80%;
  }
  .messageQuantity {
    flex-direction: column;
    gap: 24px;
  }

  section:nth-child(9) > div > .graph > div > svg > g > text,
  #SvgjsG1231 {
    transform: scale(0.8);
  }
}

@media (max-width: 26.6em) {
  :root {
    --graphW: 350;
    --graphH: 175;
    --gap-section: 24px 32px 32px 32px;
  }

  .message {
    padding: 12px 18px;
  }
  .box div p {
    font-size: 14px;
  }
  .streak > div:last-child > p:first-child {
    line-height: 50px;
    margin-top: 12px;
    font-size: 72px;
  }
  .streak > div:last-child > p:first-child span {
    font-size: 54px;
    font-weight: 200;
  }
  .streak > div:first-child img {
    width: 120px;
  }
  .streak > div:last-child > p:nth-child(2) {
    font-size: 14px;
    width: 80%;
  }
  .streak > div:last-child > p:nth-child(3) {
    font-size: 12px;
    width: 80%;
  }
  .messageQuantity {
    flex-direction: column;
    gap: 24px;
  }
}
